.banner-container{
    display: flex;
    justify-content: center;
}
.imgBanner{
    /* width: 1250px; */
    opacity: 0.5;
    border-radius: 25px;
}
.banner{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    background: #000000;
    mix-blend-mode: darken;
    border-radius: 25px;
    width: max-content;
}
.bannerPropos{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    background: #000000;
    mix-blend-mode: darken;
    border-radius: 25px;
    width: max-content;
}
.text_onImg{
    position: absolute;
    top: 188px;
}
.text_onImg h1{
    color: white;
    font-weight: 500;
    font-size: 44px;
}

@media screen and (max-width: 420px) {
    .banner{
        border-radius: 10px;
        height: 111px;
    }
    .bannerPropos{
        border-radius: 10px;
        height: 223px;
    }
    .imgBanner{
        width: 364px;
        /* height: 111px; */
        border-radius: 10px;
        object-fit: cover;
    }
    .text_onImg{
        top: 125px;
    }
    .text_onImg h1{
        width: 275px;
        font-size: 24px;
    }
}