.banner-container{
    display: flex;
    justify-content: center;
}
.imgBanner{
    /* width: 1250px; */
    opacity: 0.5;
    border-radius: 25px;
}
.banner{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    background: #000000;
    mix-blend-mode: darken;
    border-radius: 25px;
    width: max-content;
}
.text_onImg{
    position: absolute;
    top: 200px;
}
.text_onImg h1{
    color: white;
    font-weight: 500;
}

@media screen and (max-width: 420px) {
    .imgBanner{
        width: 340px;
        height: 155px;
    }
    .text_onImg{
        top: 138px;
    }
    .text_onImg h1{
        width: 275px;
        font-size: 24px;
    }
}