.left-arrow{
    position: absolute;
    top: 245px;
}
.right-arrow{
    position: absolute;
    right: 105px;
    top: 240px;
}
.caroussel{
    margin-left: 63px;
    margin-right: 63px;
}
.img-caroussel{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
}
.slide-active{
    margin-top: 20px;
}
.nombrePic{
    position: absolute;
    top: 54%;
    left: 50%;
    color: white;
}
@media screen and (max-width: 420px) {
    .slide-active{
        margin-right: 15px;
        margin-left: 15px;
    }
    .left-arrow{
        width: 55px;
        left: 10px;
    }
    .right-arrow{
        width: 55px;
        right: 10px;
    }   
    .nombrePic{
        top: 46%;
        left: 47%;
    }
    .caroussel{
        margin-left: 0;
        margin-right: 0;
    }   
}