.collapse{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.collapse_title{
    border: 0px solid black;
    color: white;
    background-color: #FF6060;
    border-radius: 5px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    width: 70%;
    padding-left: 5px;
    margin: 0;
    height: 47px;
    line-height: 2;
}
.collapse_description{
    /* display: block; */
    width: 70%;
    background-color: #F7F7F7;
    color: #FF6060;
    padding-top: 15px;
    font-size: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.icon_collapse{
    position: absolute;
    right: 290px;
    margin-top: 15px;
    /* transform: rotate(180deg); */
}
.allCollapse{
    margin-bottom: 65px;
}
@media screen and (max-width: 420px) {
    .icon_collapse{
        right: 75px;
    }
    .allCollapse{
        margin-bottom: 68%;
    }
}
/* pour la page ficheLogement */
.collapse_ficheLogement{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.collapse_title_logement{
    border: 0px solid black;
    color: white;
    background-color: #FF6060;
    border-radius: 5px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding-left: 5px;
    margin: 0;
    width: 582px;
    height: 47px;
    line-height: 2;
}
.collapse_description_logement{
    width: 582px;
    background-color: #F7F7F7;
    color: #FF6060;
    padding-top: 15px;
    font-size: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.collapse_description_logement p {
    margin-top: 10px;
}
.icon_collapse_logement{
    margin-left: 60%;
}
@media screen and (max-width: 420px) {
    .collapse_ficheLogement{
        flex-direction: column;
        align-items: center;
    }
    .collapse_title_logement{
        width: 350px;
    }
    .collapse_description_logement{
        width: 350px;
    }
    .icon_collapse_logement{
        position: absolute;
        right: 35px;
        margin-top: 15px;
    }   
}


